@model Equipe
@{
    ViewData["Title"] = "Equipes";
}


<form action="@Url.Action("Cadastrar")" method="post" enctype="multipart/form-data">

    <label for="IdEquipe">IdEquipe</label>
    <input type="text" name="IdEquipe" id="IdEquipe">

    <label for="Nome">Nome</label>
    <input type="text" name="Nome" id="Nome">

    <label for="Imagem">Imagem</label>
    <input type="file" name="Imagem" id="Imagem">

    <button type="submit">Cadastrar</button>

</form>

<table class="table table-responsive table-striped">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach (Equipe e in ViewBag.Equipes)
        {
            <tr>
                <td>@e.IdEquipe</td>
                <td>@e.Nome</td>
                <td>
                    <img src="img/Equipes/@e.Imagem" alt="Imagem da Equipe @e.Nome">
                </td>
                <td>
                      <a class="nav-link text-dark" asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@e.IdEquipe">Excluir</a>
                </td>
            </tr>
        }
    </tbody>

</table>